html,body,*{
padding:0px;
margin:0px;
}
 
#timepass{
background-color:lightgrey;
margin-left:110px;
margin-top:30px;
position:absolute;
z-index:100;
}
 
#backcanvas{
background-color:lightgrey;
top:750;
left:110;
position:absolute;
 
}
 
#road{
position:absolute;
background-color:black;
margin-left:110px;
margin-top:480px;
z-index:1;
}
 
#indicator{
position:absolute;
border:1px solid black;
border-radius:2px;
width:20px;
height:10px;
top:440px;
left:260px;
z-index:100
}
 
#tab1{
border:1px solid black;
position:absolute;
top:410;
left:710;
color:green;
z-index:100;
}
#tab2{
border:1px solid black;
position:absolute;
top:435;
left:710;
color:green;
z-index:100;
}
#tab3{
border:1px solid black;
position:absolute;
top:460;
left:710;
color:green;
z-index:100;
}
 
table tr td{
border:1px solid black;
width:10px;
height:20px;
}
 
 
.back_light_left tr td,.back_light_right tr td{
width:20px;
height:25px;
 
}
.back_light_left{
position:absolute;
border:1px solid black;
top:1100;
left:410;
}
 
.back_light_right{
position:absolute;
border:1px solid black;
top:1100;
left:681;
}
 
#back_button1{
position:absolute;
top:800;
left:200;
}
 
 
#back_button2{
position:absolute;
top:800;
left:300;
}
 
#back_button3{
position:absolute;
top:800;
left:410;
}
 
#back_button4{
position:absolute;
top:800;
left:480;
}
#back_button5{
position:absolute;
top:800;
left:540;
}
